body .widget {
    font-family: "Source Sans Pro", helvetica, sans-serif;
    text-align: center;
    margin: 0;
}
.widget {
    height: 100%;
    overflow: hidden;
    color: #222;
    font-family: Helvetica, sans-serif;
}
.widget h1 {
    font-size: 28px;
}
.widget h2 {
    font-size: 18px;
}
.widget h3 {
    font-size: 14px;
}
.widget .footnote {
    margin: 10px;
    font-size: 11px;
    font-weight: bold;
    display: block;
    color: #222;
}
.widget .data {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    max-width: 300px;
}
.widget.compass svg,
.widget.gauge svg {
    max-width: 300px;
}
.widget.status {
    overflow: auto;
}
.widget.status th {
    padding: 4px;
    background-color: darkgrey;
}
.widget.status td {
    padding: 4px;
    background-color: lightgrey;
}
.widget.status td.nodata {
    background-color: whitesmoke;
    color: darkgrey;
    font-size: small;
}
.widget.status .result_time {
    font-size: small;
    font-style: italic;
}
.widget.panel dl {
    text-align: left;
}
.widget.panel dd.outdated {
    color: #AA1111;
    font-style: italic;
}
.widget.panel dd.outdated span {
    font-size: 9px;
    display: block;
}
.widget.map .leaflet-label .widget.panel h2 {
    font-size: small;
}
.widget.map .leaflet-label .widget.panel h3 {
    font-size: x-small;
}
.widget.map .leaflet-label .widget.panel h2,
.widget.map .leaflet-label .widget.panel h3,
.widget.map .leaflet-label .widget.panel dl,
.widget.map .leaflet-label .widget.panel .footnote {
    margin: 0;
}
.widget.map .leaflet-label .widget.panel {
    background-color: transparent;
}
.widget.map .leaflet-label .widget.panel dt {
    border-top: 1px solid darkgray;
    clear: left;
    font-size: x-small;
    font-weight: normal;
    line-height: normal;
    padding-top: 2px;
    float: none;
    text-align: left;
    width: 100%;
}
.widget.map .leaflet-label .widget.panel dd {
    margin: 0;
    text-align: right;
    font-size: x-small;
    line-height: normal;
    padding-bottom: 2px;
}
.widget.table {
    overflow: auto;
    font-size: 12px;
}
.widget.windrose {
    width: 100%;
}