<!--	************************************************************//
/*	**************************************************************  */
/*	 SDI: Visualization Real Time Data - Winter Term 2016 			*/
/*	 Assignment 2 part 2 - Customized Web Map						*/
/*	 Authors: 	TASHBAEVA Saadat									*/
/*	 		 	REICHEL Steffen 									*/
/*				ABDIMAZHITOVA Kumushkan								*/
/*	 		 	Pleschberger Christian 								*/
/*	 Date: 26.01.2017									 			*/
/*	**************************************************************  */
/*	JavaScript-file used / included in								*/
/*		 					webmap.html								*/
/*	defines actual web content										*/
/*		OSM map, including GeoJSON contents and measurement tool    */
/* 	For additional information see named html-file					*/
/*	**************************************************************  */
/*	**************************************************************  -->



header /* In context to title images */
{
background-color:white;
}

h1 /* Title images  */
{ /* to place images centred  */
text-align: center; 
vertical-align: middle; 
}

body /* overall background  */
{
background-color: #B0E0E6;
}

div#map /* main content  */
{
height: auto; 
width: 100%; 
vertical-align: middle;
position: relative;
}

div#bottom  /* for additional information at the bottom  */
{
height: auto;
width: auto; 
vertical-align: middle;
text-align: center;
background-color:#000080;
color: white;
font: 11px Helvetica, Sans-Serif;
font-weight: bold; 
}