body {
    padding:0;
    margin: 0;
}

.map-container {
    width:100%;
}

/* overwrite some of the default bootstrap styles */
.navbar {
    margin-bottom: 0;
}

/* the two columns with the map and sidebar should not have padding
   as defined for every col-*-* in bootstrap
*/
.col-main {
    padding-left:0;
    padding-right:0;
}